<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.1.xsd"
	default-lazy-init="true">
	
	<bean id="xmppConnectionManager" class="itaf.framework.im.server.xmpp.XmppConnectionManager" factory-method="getInstance">
		<property name="connectIMServerAdd">
			<value>192.168.0.120</value>
		</property>
		<property name="connectIMServerPort">
			<value>5223</value>
		</property>
		<property name="xmppServiceName">
			<value>openfire</value>
		</property>
	</bean>
	<bean id="xmppAccountManager" class="itaf.framework.im.server.xmpp.utils.XmppAccountManager">
		<property name="connectionManager" ref="xmppConnectionManager"></property>
	</bean>
	<bean id="xmppMessageUtils" class="itaf.framework.im.server.xmpp.utils.XmppMessageUtils">
	</bean>
</beans>